header{
    background-color: #F7F7F9;
    padding: 0 15px;
}
nav{
    padding: 15px 0;
    float: left;
}
nav p{
    font:15px Arial;
    color: #21201F;
    display: inline;
}
nav a{
    text-decoration: none;
    color: #7b7b7c;
    padding-left: 15px;
    font-size: 14px;
}
a:active{
    color: #21201F;
}
.button{
    color: #AAD8AB;
    border: 1px solid #AAD8AB;
    background-color: #F7F7F9;
    border-radius: 3px;
    padding: 9px 14px;
    font: 12px Arial;
    margin-left: 3px;
}
.search input{
    border-radius: 3px;
    padding: 9px 14px;
    font: 12px Arial;
    float: right;
    margin-top: 8px;
    margin-bottom: 6px;
}
.clear{
    clear: both;
}
.wrapper{
    margin: 18px 150px 35px 150px;
    font-family: Arial, sans-serif;
}
.content{
    background-color: #ECEEEF;
    margin-top: 18px;
    padding: 64px 58px 70px 30px;
}
.content a{
    text-decoration: none;
    background-color: #0275D8;
    color: white;
    padding: 15px 20px;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 5px;
    display: inline-block;
}
.content h1{
    font-family: Arial, sans-serif;
    margin-bottom: 10px;
    color: #373a3c;
}
.content span{
    background-color: white;
    color:#C6646E;
    padding: 3px 5px;
}
.content p{
    color: #373a3c;
    font-size: 14px;
}